*.xcuserstate  

.DS_Store

SilkRoad.xcworkspace  

xcuserdata  

UserInterfaceState.xcuserstate  

SilkRoad.xcworkspace/  

xcuserdata/  

UserInterface.xcuserstate 

Pods/

SilkRoad.xcodeproj/project.xcworkspace/xcuserdata/
